*{
    font-family: "Poppins", sans-serif;
    margin: 0%;
    padding: 0%;
}
.main_box{
    width: 100%;
    position: relative;
    background: url("photo.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;  
 
}
.btn_one{
     color: white;
     font-size: 30px;
     font-weight: 700;
     position: absolute;
     left: 16px;
     line-height: 16px;
     margin-top: 10px;
     transition: all 0.3s linear;
}

.sidebar_menu{
    left: -300px;
    position : fixed;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(255, 255,255, 0.5);
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255, 255,255, 0.5);
}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.btn_two{
    color: grey;
    position: absolute;
    width: 100%;
    left: 280px;
    opacity: 0;
  transition: all 100s linear;
}
.sidebar_menu .menu{
   position: absolute;
   width: 100%;
   top: 80px;
}
.sidebar_menu .menu li{
    margin-top: 10px;
    padding: 10px 20px;
}
.sidebar_menu .menu i,a{
    padding-right: 10px;
    color: white;
    font-size: 20px;
}
.sidebar_menu .social_media{
    opacity: 0.4;
    position: absolute;
    left: 25%;
    bottom: 50px;
    padding: 0 5px;
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.btn_one i:hover{
    font-size: 40px;
}
.btn_two i:hover{
    font-size: 28px;
}
.sidebar_menu .social_media i:hover{
    color: yellow;
    opacity: 1.5;
    transform: scale(2);
}
#check:checked ~ .sidebar_menu {
    left: 0;
    transition: all 0.5s ease;
}

#check:checked ~ .btn_one {
    opacity: 0;
    pointer-events: auto;
}

#check:checked ~ .sidebar_menu .btn_two {
    opacity: 1;
    left: 240px;
}